body{ font-family: arial, sans-serif; }


.bears			{ background: transparent url('../logos/bears.png') top left no-repeat !important; }
.vipers         { background: transparent url('../logos/vipers.png') top left no-repeat !important; }
.barracudas    	{ background: transparent url('../logos/barracudas.png') top left no-repeat !important; }
.huskies      	{ background: transparent url('../logos/huskies.png') top left no-repeat !important; }
.carnivores    	{ background: transparent url('../logos/carnivores.png') top left no-repeat !important; }
.cobras         { background: transparent url('../logos/cobras.png') top left no-repeat !important; }
.avengers     	{ background: transparent url('../logos/avengers.png') top left no-repeat !important; }
.rhinos         { background: transparent url('../logos/rhinos.png') top left no-repeat !important; }
.eagles         { background: transparent url('../logos/eagles.png') top left no-repeat !important; }
.dragons     	{ background: transparent url('../logos/dragons.png') top left no-repeat !important; }
.polarbears     { background: transparent url('../logos/polarbears.png') top left no-repeat !important; }
.flyers         { background: transparent url('../logos/flyers.png') top left no-repeat !important; }
.tigers         { background: transparent url('../logos/tigers.png') top left no-repeat !important; }
.gladiators    	{ background: transparent url('../logos/gladiators.png') top left no-repeat !important; }
.marauders    	{ background: transparent url('../logos/marauders.png') top left no-repeat !important; }
.phoenix      	{ background: transparent url('../logos/phoenix.png') top left no-repeat !important; }
.owls         	{ background: transparent url('../logos/owls.png') top left no-repeat !important; }
.falcons       	{ background: transparent url('../logos/falcons.png') top left no-repeat !important; }
.scorpions		{ background: transparent url('../logos/scorpions.png') top left no-repeat !important; }
.fugitives     	{ background: transparent url('../logos/fugitives.png') top left no-repeat !important; }
.cannibals     	{ background: transparent url('../logos/cannibals.png') top left no-repeat !important; }
.lumberjacks   	{ background: transparent url('../logos/lumberjacks.png') top left no-repeat !important; }
.devils         { background: transparent url('../logos/devils.png') top left no-repeat !important; }
.hitmen         { background: transparent url('../logos/hitmen.png') top left no-repeat !important; }
.bison         	{ background: transparent url('../logos/bison.png') top left no-repeat !important; }
.rampage      	{ background: transparent url('../logos/rampage.png') top left no-repeat !important; }
.bulldogs      	{ background: transparent url('../logos/bulldogs.png') top left no-repeat !important; }
